*{
    box-sizing: border-box;
}


.background{
    width: 1200px;
    height: 780px;
    background-color: #F5F5F5;
}

.negro{
    background-color: black;
    width: 1200px;
    height: 160px;
}

.form{
    margin-top: 80px;
    background-color: white;
    width: 750px;
    height: 400px;
    align-items: center;
    border-radius: 4px;
    position: absolute;
    top: 10px;
    left: 210px;  
}
.neo{
    width: 150px;
    height: 150px;
    position: absolute;
    margin-left: 300px;
    margin-top: -75px;
    border-radius: 50%;
    border: 7px solid black;
}

.folow{
    width: 70px;
    height: 35px;
    color: white;
    background-color: #2F3AB2;
    position: relative;
    border-radius: 4px;
    margin-left: 600px;
    margin-top: 20px;
}
.name{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 70px;
}

.contname{
    width: 750px;
    height: 80px;
    border: 1px solid red;
    text-align: center;
    padding-left: 60px;
    padding-right: 60px;
}

.description{
    text-align: center;
}

.hb{
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.born{
    padding-left: 140px;
}

.enlac{
    height: 20px;
    width: 20px;
    margin-right: 10px;
    
}

.enlace{
    text-align: center;
    margin-left: 370px;
    position: absolute;
    margin-top: -40px;
    text-decoration: none;
}

.git{
    height: 20px;
    width: 20px;
    margin-left: 520px;
    position: absolute;
    margin-top: -40px;
}

.twit{
    height: 20px;
    width: 20px;
    margin-left: 545px;
    position: absolute;
    margin-top: -40px;
}

.work{
    font-size: small;
    text-align: center;
}

.gow{
    font-size: medium;
    text-align: center;
}