
.aside-right{
    display: none;
}

.post__aside-icon{
    background-color: transparent;
    border: none;
}

.post__comments__form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    &--content{
        border-radius: 5px;
        border: solid;
        border-width: 1px;
        border-color: gray;
    }
}

.card{
    padding: 10px;
    &-profile{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        &__title{
            font-size: x-large;
            padding: 0;
            margin: 5px 0px;
        }
        &__info{
            margin: 5px 0;
        }
        &__button{
            color: white;
            background-color: #3B4ADF;
            padding: 10px 8px;
            border-radius: 5px;
            width: 200px;
            border: none;
        }
    }
}

.aside-left{
    display: none;
}

.post__footer{
    padding: 8px;
    background-color: #F4F5F4;
    display: flex;
    border-top: solid;
    border-width: 1px;
    border-color: rgb(206, 206, 206);
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;


    &__publish{
        color: white;
        background-color: #3B4ADF;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 16px;
        padding-right: 16px;
        border-radius: 7px;
        border: none;
    }

    &__button{
        display: flex;
        align-items: center;
        background-color: transparent;
        border: none;
    }

    &__button--revert{
        font-weight: 300;
        font-size: 14px;
    }

    &__button--save{
        font-weight: 300;
    }


}



@media (min-width: 768px) {
    .aside-right{
        display: none;
    }
    .aside-left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .post__footer{
        display: none;
    }
    .post-layout{
        padding: 0 8px;
        display: grid;
        grid-template-columns: 0.2fr 2fr ;
        margin: 0 auto;
        margin-top: 1rem;
        width: 100%;
        max-width: var(--lg-max-width);
        gap: 1rem;
    }
}

@media (min-width: 1024px) {
    .aside-right{
        display: flex;
        flex-direction: column;
    }

    .post__title--post{
        font-size: 58px;
    }
    
    .post-layout{
        display: grid;
        grid-template-columns: 0.2fr 2fr 0.8fr;
        margin: 0 auto;
        margin-top: 1rem;
        width: 100%;
        max-width: var(--lg-max-width);
        gap: 1rem;
    }
}

