.main-navigation {
  background-color: var(--sidebar-background-hover);
  box-shadow: var(--element-box-shadow);
  padding: 0.5rem 0;
  position: sticky;
  top: 0;
  z-index:100;
}

.desktop-navbar__left__image{
  display: flex;
}

.navbar__social-icons{
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
  display: flex;
  flex-direction: row;
  gap: 0.5px;
  & div{
    padding: 0.5rem;
    padding-left: 1rem;
  }
}

.desktop-navbar__left__sidebarBackground{
  display: none;
}

.desktop-navbar {
  display: flex;
  max-width: var(--lg-max-width);
  margin: 0 auto;
  justify-content: space-between;
  &__left {
    display: flex;
    > * + * {
      margin-left: 0.75rem;
    }
    &__image {
      width: 3.125rem;
      height: 2.5rem;
    }
    &__searchIcon{
      display: none;
    }
    &__hamburgerIcon{
      display: none;
    }
    &__search {
      display: flex;
      box-shadow: var(--search-box-shadow);
      padding: 0.35rem;
      border-radius: 0.35rem;
      width: 26.25rem;
      justify-content: space-between;
      &:focus-within {
        outline: 1.5px solid var(--text-blue);
      }
      & input {
        border: none;
        &:focus {
          outline: none;
        }
      }
      & button {
        background-color: transparent;
        border: none;
      }
    }
  }
  &__actions {
    display: flex;
    align-items: center;
    > * + * {
      margin-left: 0.5rem;
    }
    & button:not(&__create-post) {
      background-color: transparent;

    }
    &__create-post {
      background-color: transparent;
      border: none;
      border: 1px solid var(--text-blue);
      color: var(--text-blue);
      border-radius: 0.35rem;
      padding: 0.25rem 0.75rem;
    }
    &__create-account {
      background-color: transparent;
      border: 1px solid var(--text-blue);
      color: var(--text-blue);
      border-radius: 0.35rem;
      padding: 0.25rem 0.75rem;
    }
    &__image {
      width: 2rem;
      height: 2rem;
      border-radius: 9999px;
      cursor:pointer;
    }
    &__button{
      display: flex;
      border: none;
    }
  }
}

.layout {
  display: grid;
  grid-template-columns: 240px 2fr 1fr;
  margin: 0 auto;
  margin-top: 1rem;
  width: 100%;
  max-width: var(--lg-max-width);
  gap: 1rem;
}

.navbars {
  color: var(--text);
}

.navbar {
  margin-top: 1rem;
  &__title {
    padding: var(--link-title-padding);
    color: var(--black);
    font-weight: 600;
  }

  &__tags-header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    & button {
      background-color: transparent;
      border: none;
    }
  }

  &__list-item {
    border-radius: 0.35rem;
    cursor: pointer;
    &:hover {
      color: var(--text-blue);
      text-decoration: underline;
      background-color: var(--navbar-background-hover);
    }
  }
  &__navigation-item {
    padding: var(--link-padding);
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
  }
}

.feed {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.post {
  box-shadow: var(--element-box-shadow);
  background-color: var(--sidebar-background-hover);
  display: flex;
  column-gap: 0.5rem;
  border-radius: 0.25rem;
  padding: 1.25rem;
  &__image {
    height: 2rem;
    width: 2rem;
    border-radius: 9999px;
  }
  &__user {
    font-size: 0.875rem;
    &__time {
      font-size: 0.75rem;
      color: var(--text-light);
    }
  }
  &__title {
    font-size: 1.875rem;
    font-weight: 600;
  }
  &__tags {
    display: flex;
    column-gap: 1rem;
    color: var(--text-light);
    font-size: 0.875rem;
  }
  &__interactions {
    display: flex;
    margin-top: 1.25rem;
    justify-content: space-between;
    font-size: 0.875rem;
    & button {
      color: var(--text-light);
      background-color: transparent;
      border: none;
    }
    &__reading {
      font-size: 0.75rem;
    }
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card {
  background-color: var(--sidebar-background);
  border-radius: 0.25rem;
  box-shadow: var(--element-box-shadow);
  &__title {
    padding: var(--element-padding);
    border-bottom: var(--border-bottom-styles);
    font-weight: 500;
    color: var(--black);
    font-size: 1.25rem;
  }
}

.sidebar-element {
  padding: var(--element-padding);
  border-bottom: var(--border-bottom-styles);
  color: var(--text);
  &:hover {
    color: var(--text-blue);
    cursor: pointer;
    background-color: var(--sidebar-background-hover);
  }
  &__category {
    color: var(--text-light);
    font-size: 0.875rem;
    padding-top: 0.25rem;
  }
  &__new-tag-wrapper {
    padding-top: 0.25rem;
  }
  &__new-tag {
    max-width: max-content;
    border-radius: 0.2rem;
    background-color: var(--yellow);
    color: var(--yellow-dark);
    font-size: 0.875rem;
    padding: 0.25rem;
    line-height: 1;
  }
}

@media (max-width: 1023px) {

  .sidebar{
      display: none;
  }

  .desktop-navbar{
      padding-right: 1rem;
      padding-left: 1rem;
  }

  .layout {
      display: grid;
      grid-template-columns: 0.8fr 2fr;
      padding-right: 1rem;
      margin-top: 1rem;
      width: 100%;
      max-width: var(--lg-max-width);
      gap: 1rem;
    }
}

@media (max-width: 767px) {

  .navbar{
      display: none;
  }
  .desktop-navbar__left__search{
      display: none;
  }

  .desktop-navbar__left__searchIcon{
    display: flex;
    & button{
      background-color: transparent;
      border: none;
    }
  }

  .desktop-navbar__left__sidebarBackground{
    display: block;
    overflow-y: scroll;
    list-style: none;
    position: fixed;
    top: 0;
    margin: 0;
    background: rgba(0, 0, 0, 0.16);
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 0;
    overflow: hidden;
    z-index: 9;

    & button{
      z-index: 10;
      background-color: transparent;
      border: none;
    }
  }

  .desktop-navbar__left__sidebar{
    transition: 0.5s;
    overflow-y: scroll;
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 0;
    background-color: white;
    overflow: scroll;
    max-width: 290px;
    z-index: 9;
    &-other{
      padding-top: 1rem;
      padding-left: 1rem;
      padding-bottom: 0.5rem;
      & h2{
        font-size: 1rem;

      }
    }
    &-header{
      padding-top: 1rem;
      display: flex;
      justify-content: space-around;
      padding-bottom: 1.7rem;
      & h2{
        font-size: 1rem;
      }
      & button{
        display: flex;
        align-items: center;
      }
    }
    & .navbar__social-icons{
      padding-top: 2.1rem;
      padding-bottom: 2.1rem;
      display: flex;
      flex-direction: row;
    }
  }
  
  .desktop-navbar__left__image{
    display: block;
  }

  .desktop-navbar__left__sidebar.showSidebar{
    width: 100%;
  }

  .desktop-navbar__left__sidebarBackground.showSidebar{
    width: 100%;
  }

  .desktop-navbar__left__hamburgerIcon{
    display: flex;
    background-color: transparent;
    border: none;
    align-items: center;
  }

  .desktop-navbar__actions__create-post{
      display: none;
  }
  .desktop-navbar{
      padding-right: 1rem;
      padding-left: 1rem;
  }

  .navbar__social-icons{
    display: none;
  }
  .layout {
      display: grid;
      grid-template-columns: 1fr;
      margin-top: 1rem;
      padding: 0;
      width: 100%;
      max-width: var(--lg-max-width);
      gap: 1rem;
    }
}